
$color: #111
$primary: #FFAB9D

* {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#homeContainer {
	text-align: center;
	display: block;
	margin:auto;
	margin-top: 15%;
	max-width: fit-content;
	max-height: fit-content;
	background-color: rgb(47,55,95);
	padding: 10ch;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#formContainer {
    width: 431.5px;
}

#homeTitle {
	padding: 1ch;
	color: whitesmoke;
}

#homeSubtitle {
	color: whitesmoke;
	padding-bottom: 2ch;
}

#loginForm {
    display: block;
    text-align: center;
}

table {
    color: whitesmoke;
    width: 431.5px;
}

tr {
    height: 5ch;
    text-align: center;
}

#loginButton {
    width: 75px;
    height: 30px;
    font-weight: bold;
}

a {
    color: whitesmoke;
    text-decoration: none;
}

.link {
    cursor: pointer;
    font-size: 18px;
    position: relative;
    white-space: nowrap;
    color: var(--color-text);
}

.link::before,
.link::after {
    position: absolute;
    width: 100%;
    height: 1px;
    background: currentColor;
    top: 100%;
    left: 0;
    pointer-events: none;
}

.link::before {
    content: '';
    /* show by default */
}

.link--metis::before {
    transform-origin: 100% 50%;
    transform: scale3d(0, 1, 1);
    transition: transform 0.3s;
}

.link--metis:hover::before {
    transform-origin: 0% 50%;
    transform: scale3d(1, 1, 1);
}
